<% messages.each do |message| %>
    <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
            <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
                <%= raw(render_markdown(message.content)) %>
                <% if message.file.attached? %> 
                    <strong>File:</strong>
                    <%= link_to message.file.filename, rails_blob_path(message.file, disposition: "attachment") %>
                <% end %>
            </div>
        </div>
    <% elsif message.role == "assistant" %>
        <div class="d-flex justify-content-start mb-5">
            <div class="px-3 pb-0 pt-3">
                <%= raw(render_markdown(message.content)) %>
            </div>
        </div>
    <% end %>
<% end %>
