// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$brand-green: #71AFA4;
$brand-orange: #E8A233;
$brand-cream: #F8E1B3;
$brand-light-cream: #f7f2e7;
$brand-deep-green: #043930;
