#plant-detail-column {
    padding: 16px;
    background-color: white;
    img {
        width: 100%;
    }
}

#plant-detail-text {
    margin-top: 16px;
    .key {
        color: #06393095;
        margin-right: 16px;
    }
}