<div class="banner">
  <div class="container">
    <h1>Welcome to <strong>Garden Granny</strong>!</h1>
    <p>Granny's here to help you grow your plants. <br> You can ask her any advice!</p>
    <%= link_to "Go to your garden", plants_path, class: "btn btn-flat" %>
  </div>
</div>
