<div>
  <h2>How your Garden could look like</h2>
  <p>Add all the plants you have at home (indoor and outdoor) to your Garden.</p>
  <p>All you need to tell Granny when adding your plant, is:
    <ul>
      <li>it's species,</li>
      <li>it's nickname,</li>
      <li>it's (sunny or shaded) location, and</li>
      <li>whether it's potted or in the ground.</li>
    </ul></p>
  <p>This way Granny knows your plant and can be of better help!</p>
</div>
<div>
  <h2>How Granny can help you</h2>
  <p>Granny is more powerful than your average AI bot.</p>
  <p>She's an expert gardener with many years of experience.</p>
  <p>She also knows which of your plants you're talking about!</p>
  <p>You could ask her: "At which frequency should I water my plant?</p>
</div>
