.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item-text {
  margin-top: 11px;
  margin-right: 8px;
}

.granny {
  font-weight: bolder;
  font-size: 24px;
  color: #71B0A5;
}
